<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Video
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/videos">Videos</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/admin/videos/create" class="btn btn-success">Cadastrar Video</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                {loop="$videos"}
                <div class="card">
                  <div class="card-body">           
                    <p class="tituloCards">{$value.title}</p>
                    <p class="card-text">
                      <iframe width="560" height="315" src="{$value.urlvideo}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </p>
                    <a class="btn btn-primary" href="{$value.despdf}" role="button">PDF</a>
                    <a href="/admin/videos/{$value.idvideo}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                  </div>
                </div>
                {/loop}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->