<!--banner principal-->
<section>
    <img src="/res/site/img/banner4.jpg" alt="fotoprincipal" width="100%">
</section>
<!--fim do banner principal-->
<!--teste de alerta-->
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Equipe de robótica IFPR do campus Assis Chateaubriand</h4>
    <p>Seja bem vindo ao nosso site! Nosso ambiente virtual foi implementado e modelado para equipe de robotica do IFPR campus Assis Chateaubriand para aplicação de conteúdos que eles desenvolvem e oferecer a comunidade a conhecer mais sobre a robótica do campus.</p>
    <hr>
    <p class="mb-0">É um prazer ter você aqui. :)</p>
  </div>
<!--fim de teste de alerta-->
<!--area dos cards-->
<!--card 1-->
<div class="card-group">
    <div class="card">
      <img src="/res/site/img/card1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- <h5 class="card-title"><img src="imagens/hoya logo.png" alt="logo hoya" width="100px"></h5> -->
        <p class="card-text">Lorem ipsum donec eu ornare integer orci sit ultrices etiam mauris, fringilla fermentum molestie eget tempor curabitur vitae aliquam in. nullam libero quisque et habitant proin nulla integer egestas tortor ultricies, dapibus molestie rhoncus lobortis et hendrerit consectetur rhoncus aliquet. adipiscing dictum nec phasellus scelerisque donec feugiat mi torquent, morbi iaculis lectus purus consectetur urna non, ullamcorper commodo .</p>
        <!-- <p class="card-text"><small class="text-muted">https://lentes-hoya.com.br/</small></p> -->
      </div>
    </div>
    <!--fim do card 1-->
    <!--card 2-->
    <div class="card">
      <img src="/res/site/img/card2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- <h5 class="card-title"><img src="imagens/ray-ban.jpg" alt="ray-ban logo" width="50px"></h5> -->
        <p class="card-text">Justo aptent egestas donec sodales sem neque in, id erat libero nibh posuere neque. vitae donec eros est fames eros id in vel, gravida rhoncus rutrum tempor accumsan aliquam iaculis tellus, ultrices massa mauris consectetur massa scelerisque morbi. torquent semper integer hendrerit quisque </p>
        <!-- <p class="card-text"><small class="text-muted">https://www.ray-ban.com/brazil</small></p> -->
      </div>
    </div>
    <!-- fim do card 2-->
    <!--card 3-->
    <div class="card">
      <img src="/res/site/img/card3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- <h5 class="card-title"><img src="imagens/prada logo.jpg" alt="logo prada" width="100px"></h5> -->
        <p class="card-text">
            ullamcorper dictum class, facilisis vivamus eros porttitor facilisis tellus. gravida tempus malesuada rhoncus sem semper egestas facilisis blandit morbi mi placerat at accumsan, consectetur metus faucibus tellus eros luctus porttitor nulla ornare ut proin. vel quisque bibendum lacinia, ultrices enim. </p>
        <!-- <p class="card-text"><small class="text-muted">https://www.prada.com/us/en.html</small></p> -->
      </div>
    </div>
  </div>
  <!--fim do card3-->
  <!--fim da area dos cards-->
  <!--barra das redes sociais-->
<div class="redessociais">
    <ul>
        <li><a href=""><img src="/res/site/img/face.png"></a></li>
        <li><a href=""><img src="/res/site/img/tw.png"></a></li>
        <li><a href=""><img src="/res/site/img/rss.png"></a></li>
    </ul>
</div>
<!--fim da barra das redes sociais-->