<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe de robótica IFPR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="imagens/icons8-glasses-100.png" type="image/x-icon">
</head>
<body>
<!--Inicio do Código-->
<!--barra de cabeçalho-->
<header id="cabeca1">
    <div class="barradotopo">
        <main class="container">
            <p><a href="">LOGIN</a> | <a href="">CADASTRE-SE</a></p>
        </main>
    </div>
</header>
<!--fim da barra de cabeçalho-->
<!--barra de menu-->
<header id="cabeca2">
<main class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="imagens/logotipo2.jpg" alt="logo óticas x" width="100px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projetos.html">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre a equipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tutorial.html">Tutoriais</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</main>
</header>
<!--fim da barra de menu-->
<div class="alert alert-success" role="alert">
    <div class="text-center">
    <h4 class="alert-heading">Alguns dos projetos que a equipe de robótica trabalha no campus.</h4>
</div>


    
</div>
<div class="card-group" >
    <div class="card">
      <!-- <img src="imagens/card1.jpg" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <div>
            <img src="imagens/robolego.png" class="img-thumbnail" alt="">
        </div>
           
        <h3 class="text-center">Projeto da equipe</h3>
        <p class="card-text">Uns dos projetos desenvolvido utilizando robôs Lego.</p>
        <!-- <p class="card-text"><small class="text-muted">https://lentes-hoya.com.br/</small></p> -->
      </div>
    </div>

    <div class="card">
        <!-- <img src="imagens/card1.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <div>
              <img src="imagens/legoInventor.png" class="img-thumbnail" alt="">
          </div>
             
          <h3 class="text-center">Robô inventor</h3>
          <p class="card-text">Lorem ipsum donec eu ornare integer orci sit ultrices etiam mauris, fringilla fermentum molestie eget tempor curabitur vitae aliquam in. nullam libero quisque et habitant proin nulla integer egestas.</p>
          <!-- <p class="card-text"><small class="text-muted">https://lentes-hoya.com.br/</small></p> -->
        </div>
      </div>

    </div>
    <h2 class="titulosobre">A equipe de robótica do campus</h2>

    <p class="titulosobre">escrever sobre a equipe de robótica do IFPR campus Assis Chateaubriand.</p>
<!--Inicio do rodapé-->
<footer>
    <div class="container-fluid">
        <div class="col-100 footer">
            <div class="content container-fluid">
                <div class="col-4">
                    <h3><b>a</b></h3>
                    <p>
                   conteudo em desenvolvimento!!
                    </p>
                </div>
                <div class="col-4 contatos">
                    <h3><b>Entre em contato</b></h3>
                    
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!--fim do rodapé-->
    <!-- barra de créditos-->
    <div class="col-100 footer-2">
        <div class="creditos">
            <p>&copy; 2021 Todos os direitos reservados</p>
        </div>
    </div>
    <!--Fim da barra de créditos-->
    
    <!--Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!--Fim do Javascript-->
    <!--Fim do Código-->
    </body>
    </html>